<a href="https://colab.research.google.com/github/alpandreluizpaes-beep/SENAI_modelagem/blob/main/Desafio_Modelagem_de_Dados_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Avaliação/Desafio - Modelagem e Armazenamento de Dados**

**Integrantes**
- André Luiz Paes

##**1. Descrição do banco de dados**

###1.1. Visão geral

O banco de dados é baseado em um dataset extraído de "Dados do Sistema de Informação sobre Mortalidade - Declaração de Óbitos Fetais (SIM-DOFET)" reunidos pela Plataforma de Ciência de Dados aplicada à Saúde (PCDaS), referente ao ano de 2019.

O dataset original foi tratado e estruturas auxiliares foram criadas para auxiliar na organização e entendimento do banco de dados.

###1.2. Modelo conceitual do banco de dados

In [ ]:
## Rodar célula para carregar o modelo conceitual
from IPython.display import Image, display

display(Image(
    url="https://raw.githubusercontent.com/alpandreluizpaes-beep/SENAI_modelagem/main/modelo_conceitual.png"
))

###1.3. Descrição dos atributos

**ESTADO**
*   id_estado: número que representa a unidade federativa, tipo int
*   nome: nome completo da unidade federativa, tipo varchar
*   sigla: sigla da unidade federativa, tipo char(2)
*   regiao: nome região do Brasil onde a unidade federativa se encontra, tipo varchar

**SEXO**
*   id_sexo: número que representa o gênero biológico do feto, tipo int
*   descricao: descricao (masculino ou feminino), tipo varchar

**CAUSA**
*   id_causa: código alfanumérico que representa a causa do óbito do feto, tipo char(2)
*   descricao: descrição detalhada da causa do óbito do feto, tipo varchar

**ESTABELECIMENTO**
*   id_local: número que representa o local declarado do óbito do feto, tipo int
*   descricao: local de declaração do óbito do feto, tipo varchar

**OBITOS**
*   id_obito: número que identifica o registro do óbito, tipo int
*   peso_feto: massa do feto em gramas, tipo int
*   data: data da declaração de óbito do feto, tipo date
*   idade_mae: idade em anos da mãe no momento do óbito do feto, tipo int
*   semana_gestacao: semana de gestação no momento do óbito do feto, tipo int

##**2. Criação e população do banco de dados**

###2.1. Carregamento dos datasets

In [1]:
## Rodar célula para carregar dataset do github
import pandas as pd

url_csv = "https://raw.githubusercontent.com/alpandreluizpaes-beep/SENAI_modelagem/main/dataset_obitos.csv"

df = pd.read_csv(url_csv)
df.head(10)

,DTOBITO,SEXO,def_sexo,LOCOCOR,def_loc_ocor,IDADEMAE,SEMAGESTAC,PESO,ocor_CODIGO_UF,ocor_SIGLA_UF,ocor_NOME_UF,ocor_REGIAO,id_causa,CAUSA
0,30012019,1,Masculino,1,Hospital,26.0,29.0,1440.0,29,BA,BAHIA,Nordeste,P02,Fet rec-nasc afet compl plac cord umb membr
1,24012019,1,Masculino,1,Hospital,19.0,32.0,1314.0,23,CE,CEARA,Nordeste,P95,Morte fetal de causa NE
2,29012019,0,Ignorado,1,Hospital,NaN,25.0,705.0,35,SP,SAO PAULO,Sudeste,P20,Hipoxia intra-uterina
3,25012019,1,Masculino,1,Hospital,21.0,27.0,955.0,22,PI,PIAUI,Nordeste,P39,Outr infecc especificas do periodo perinatal
4,14022019,1,Masculino,1,Hospital,39.0,36.0,1960.0,29,BA,BAHIA,Nordeste,P20,Hipoxia intra-uterina
5,26022019,1,Masculino,1,Hospital,28.0,38.0,2650.0,41,PR,PARANA,Sul,P00,Fet rec-nasc afet afec mat n obr rel grav at
6,22022019,1,Masculino,1,Hospital,24.0,20.0,428.0,35,SP,SAO PAULO,Sudeste,Q89,Outr malformacoes congen NCOP
7,24022019,2,Feminino,1,Hospital,44.0,32.0,970.0,35,SP,SAO PAULO,Sudeste,P20,Hipoxia intra-uterina
8,15012019,1,Masculino,5,Outros,33.0,33.0,1594.0,16,AP,AMAPA,Norte,P95,Morte fetal de causa NE
9,26022019,1,Masculino,1,Hospital,NaN,NaN,3492.0,15,PA,PARA,Norte,P95,Morte fetal de causa NE

###2.3. Criação do banco de dados MYSQL

In [2]:
## Instalação do MySQL
!apt update
!apt install -y mysql-server

Get:1 https://cli.github.com/packages stable InRelease [3,917 B]
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:3 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:5 https://cli.github.com/packages stable/main amd64 Packages [356 B]
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,736 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:10 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [85.0 kB]
Get:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease [24.6 kB]
Get:12 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,898 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [6,468 kB]
Get:15 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [39.2 kB]
Get:16 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy/main amd64 Packages [75.3 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,688 kB]
Get:18 http://security.ubuntu.com/ubuntu jammy-security/multiverse amd64 Packages [62.6 kB]
Get:19 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,299 kB]
Get:20 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,708 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [70.9 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [4,047 kB]
Get:23 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,610 kB]
Fetched 37.2 MB in 4s (9,289 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
60 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server-8.0
  mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx tinyca
The following NEW packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server mysql-server-8.0
  mysql-server-core-8.0
0 upgraded, 26 newly installed, 0 to remove and 60 not upgraded.
Need to get 29.8 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.45-0ubuntu0.22.04.1 [2,707 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.45-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libaio1 amd64 0.3.112-13build1 [7,176 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.4 [209 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.45-0ubuntu0.22.04.1 [17.8 MB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.45-0ubuntu0.22.04.1 [1,448 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi0ldbl amd64 2.4.2-2ubuntu0.1 [28.1 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi-bin amd64 2.4.2-2ubuntu0.1 [11.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:25 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:26 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.45-0ubuntu0.22.04.1 [9,462 B]
Fetched 29.8 MB in 2s (13.5 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 117540 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.45-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.45-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.45-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.45-0ubuntu0.22.04.1) ...
Selecting previously unselected package libaio1:amd64.
Preparing to unpack .../02-libaio1_0.3.112-13build1_amd64.deb ...
Unpacking libaio1:amd64 (0.3.112-13build1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../03-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../04-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.4_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../05-mysql-server-core-8.0_8.0.45-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.45-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../06-mysql-server-8.0_8.0.45-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.45-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../07-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../08-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../09-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../10-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../11-libfcgi0ldbl_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../12-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../13-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../14-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../15-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../16-libfcgi-bin_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../17-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../18-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../19-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../20-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../21-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../22-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../23-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../24-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../25-mysql-server_8.0.45-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.45-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.45-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2ubuntu0.1) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-client-8.0 (8.0.45-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up libaio1:amd64 (0.3.112-13build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mysql-server-core-8.0 (8.0.45-0ubuntu0.22.04.1) ...
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server-8.0 (8.0.45-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 2215
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up mysql-server (8.0.45-0ubuntu0.22.04.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.11) ...
/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

In [3]:
## Inicialização do serviço
!mkdir -p /nonexistent
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

In [4]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '!Qwerty1234'"

In [5]:
## Instalação do Connector Python
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.6.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (11 kB)
Downloading mysql_connector_python-9.6.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.5/34.5 MB 49.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.6.0

In [6]:
## Conexão

import mysql.connector as mysql
from mysql.connector import Error
import pandas as pd
import psycopg2
import sys
import time
import requests
from io import BytesIO

myconn = mysql.connect(host='localhost', user='root', password='!Qwerty1234')
mycur = myconn.cursor()

## Função def para consultas futuras

def consulta_db(sql):
    mycur.execute(sql)
    return mycur.fetchall()


## Criação do banco
mycur.execute("CREATE DATABASE IF NOT EXISTS SENAI")
mycur.execute("USE SENAI")

In [8]:
## Criação das tabelas

comandos = [

"""
CREATE TABLE IF NOT EXISTS ESTADO (
    id_estado INT PRIMARY KEY,
    nome VARCHAR(19) NOT NULL,
    sigla CHAR(2) NOT NULL,
    regiao VARCHAR(12) NOT NULL,
    UNIQUE (nome, sigla)
)
""",

"""
CREATE TABLE IF NOT EXISTS SEXO (
    id_sexo INT PRIMARY KEY,
    descricao VARCHAR(9) NOT NULL,
    UNIQUE (descricao)
)
""",

"""
CREATE TABLE IF NOT EXISTS CAUSA (
    id_causa CHAR(3) PRIMARY KEY,
    descricao VARCHAR(44) NOT NULL,
    UNIQUE (descricao)
)
""",

"""
CREATE TABLE IF NOT EXISTS ESTABELECIMENTO (
    id_local INT PRIMARY KEY,
    descricao VARCHAR(19) NOT NULL,
    UNIQUE (descricao)
)
""",

"""
CREATE TABLE IF NOT EXISTS OBITOS (
    id_obito INT PRIMARY KEY AUTO_INCREMENT,
    idade_mae INT,
    semana_gestacao INT,
    peso_feto INT,
    data DATE,
    id_estado INT,
    id_sexo INT,
    id_causa CHAR(3),
    id_local INT,
    FOREIGN KEY (id_estado) REFERENCES ESTADO(id_estado),
    FOREIGN KEY (id_sexo) REFERENCES SEXO(id_sexo),
    FOREIGN KEY (id_causa) REFERENCES CAUSA(id_causa),
    FOREIGN KEY (id_local) REFERENCES ESTABELECIMENTO(id_local)
)
"""
]

for comando in comandos:
    mycur.execute(comando)

myconn.commit()

print("Banco SENAI e tabelas criadas com sucesso!")
print("Tabelas existentes:")
print(consulta_db("SHOW TABLES;"))

Banco SENAI e tabelas criadas com sucesso!
Tabelas existentes:
[('CAUSA',), ('ESTABELECIMENTO',), ('ESTADO',), ('OBITOS',), ('SEXO',)]

###2.4. População do banco de dados

In [9]:
mycur.execute("USE SENAI")

In [10]:
## POPULAR TABELA ESTADO

df_estado = df[['ocor_CODIGO_UF',
                'ocor_NOME_UF',
                'ocor_SIGLA_UF',
                'ocor_REGIAO']].drop_duplicates()

df_estado = df_estado.dropna()

dados_estado = df_estado.values.tolist()

sql_insert_estado = """
INSERT IGNORE INTO ESTADO
(id_estado, nome, sigla, regiao)
VALUES (%s, %s, %s, %s)
"""

mycur.executemany(sql_insert_estado, dados_estado)
myconn.commit()

print("Tabela ESTADO populada!")
print("Total inseridos:", mycur.rowcount)

Tabela ESTADO populada!
Total inseridos: 27

In [11]:
## POPULAR TABELA SEXO

df_sexo = df[['SEXO', 'def_sexo']].drop_duplicates()
df_sexo = df_sexo.dropna()

dados_sexo = df_sexo.values.tolist()

sql_insert_sexo = """
INSERT IGNORE INTO SEXO
(id_sexo, descricao)
VALUES (%s, %s)
"""

mycur.executemany(sql_insert_sexo, dados_sexo)
myconn.commit()

print("Tabela SEXO populada!")
print("Total inseridos:", mycur.rowcount)

Tabela SEXO populada!
Total inseridos: 3

In [12]:
## POPULAR TABELA CAUSA

df_causa = df[['id_causa', 'CAUSA']].drop_duplicates()
df_causa = df_causa.dropna()

dados_causa = df_causa.values.tolist()

sql_insert_causa = """
INSERT IGNORE INTO CAUSA
(id_causa, descricao)
VALUES (%s, %s)
"""

mycur.executemany(sql_insert_causa, dados_causa)
myconn.commit()

print("Tabela CAUSA populada!")
print("Total inseridos:", mycur.rowcount)

Tabela CAUSA populada!
Total inseridos: 94

In [13]:
## POPULAR TABELA ESTABELECIMENTO

df_estab = df[['LOCOCOR', 'def_loc_ocor']].drop_duplicates()
df_estab = df_estab.dropna()

dados_estab = df_estab.values.tolist()

sql_insert_estab = """
INSERT IGNORE INTO ESTABELECIMENTO
(id_local, descricao)
VALUES (%s, %s)
"""

mycur.executemany(sql_insert_estab, dados_estab)
myconn.commit()

print("Tabela ESTABELECIMENTO populada!")
print("Total inseridos:", mycur.rowcount)

Tabela ESTABELECIMENTO populada!
Total inseridos: 6

In [18]:
## POPULAR TABELA OBITOS

from datetime import datetime
import pandas as pd
import numpy as np

## Converter DTOBITO (30012019 → 2019-01-30)
df['DTOBITO'] = (
    df['DTOBITO']
    .astype(str)
    .str.zfill(8)
)

df['DTOBITO'] = pd.to_datetime(
    df['DTOBITO'],
    format='%d%m%Y',
    errors='coerce'  # se tiver erro vira NaT
)

## Substituir NaT por None (MySQL entende como NULL)
df['DTOBITO'] = df['DTOBITO'].where(df['DTOBITO'].notnull(), None)

## Substituir NaN por None no DataFrame inteiro
df = df.replace({np.nan: None})

## Preparar INSERT

sql_insert = """
INSERT INTO OBITOS
(idade_mae, semana_gestacao, peso_feto, data,
 id_estado, id_sexo, id_causa, id_local)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

dados_para_inserir = []

for _, row in df.iterrows():
    dados_para_inserir.append((
        row['IDADEMAE'],
        row['SEMAGESTAC'],
        row['PESO'],
        row['DTOBITO'],
        row['ocor_CODIGO_UF'],
        row['SEXO'],
        row['id_causa'],
        row['LOCOCOR']
    ))

## Inserção em lote

mycur.executemany(sql_insert, dados_para_inserir)
myconn.commit()

print("Tabela OBITOS populada!")
print("Total inseridos:", mycur.rowcount)

Tabela OBITOS populada!
Total inseridos: 29105

##**3. Consultas ao banco de dados**